.fable/
.fake/
.vs/
.vscode/
obj/
bin/
packages/
paket-files/
node_modules/
src/Client/public/js/
release.cmd
release.sh
.idea/
*.DotSettings.user
deploy
.ionide/
src/Client/Client.fsproj.user
src/Server/Server.fsproj.user
src/Server/Properties/launchSettings.json
src/Client/Properties/PublishProfiles/FolderProfile.pubxml
src/Client/Properties/PublishProfiles/FolderProfile.pubxml.user
src/Server/connection.info
src/Server/remote.connection.info
